# Created by .ignore support plugin (hsz.mobi)
/.idea/
/apache-tomcat-9.0.12/
/notes
/CS6650 Assignment 1 Fall 2018.pdf
/assignment1/client/.idea/
/assignment1/simple-service-webapp/.idea/
.DS_Store
/assignment2/client/.idea/
/assignment2/simple-service-webapp/.idea/
